/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
background-color: black;
margin-left: 4em;
}

#title {
    font-style: normal;
    font-size: x-large;
    color:crimson;
    font-weight: 700;
    margin: 30px;
    text-align: center;
}

.imgs {
    height: 200px;
    border: 1px solid crimson;
    border-radius: 2px;
}

.watches{
    font-size: large;
    font-weight: 600;
    color: brown;
    text-align: center;
    padding-right: 6em;
}

.bags{
    font-size: large;
    font-weight: 600;
    color: brown;
    text-align: center;
    padding-right: 4em;
}

.flasks{
    font-size: large;
    font-weight: 600;
    color: brown;
    text-align: center;
    padding-right: 3em;
}

.cutlery{
    font-size: large;
    font-weight: 600;
    color: brown;
    text-align: center;
    padding-right: 5em;
}

/* @media screen and (max-width = 414) {
    background-color: black;
} */